In [2]:
import pandas as pd

Link -  https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population

# Q.1 The population of each state.

In [6]:
df = pd.read_excel("Population.xlsx")

In [7]:
df

    Rank                  State or Union Territory  Population
0      1                             Uttar Pradesh   199812341
1      2                               Maharashtra   112374333
2      3                                     Bihar   104099452
3      4                               West Bengal    91276115
4      5                            Madhya Pradesh    72626809
5      6                                Tamil Nadu    72147030
6      7                                 Rajasthan    68548437
7      8                                 Karnataka    61095297
8      9                                   Gujarat    60439692
9     10                            Andhra Pradesh    49577103
10    11                                    Odisha    41974219
11    12                                 Telangana    35003674
12    13                                    Kerala    33406061
13    14                                 Jharkhand    32988134
14    15                                     Assam    31205576
15    16                                    Punjab    27743338
16    17                              Chhattisgarh    25545198
17    18                                   Haryana    25351462
18    19                              NCT of Delhi    16787941
19    20                         Jammu and Kashmir    12267032
20    21                               Uttarakhand    10086292
21    22                          Himachal Pradesh     6864602
22    23                                   Tripura     3673917
23    24                                 Meghalaya     2966889
24    25                                Manipur[d]     2570390
25    26                                  Nagaland     1978502
26    27                                       Goa     1458545
27    28                         Arunachal Pradesh     1383727
28    29                                Puducherry     1247953
29    30                                   Mizoram     1097206
30    31                                Chandigarh     1055450
31    32                                    Sikkim      610577
32    33  Dadra and Nagar Haveli and Daman and Diu      585764
33    34               Andaman and Nicobar Islands      380581
34    35                                    Ladakh      274000
35    36                               Lakshadweep       64473

# Q.2 Literacy Rate in each state

Link - https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate

In [11]:
df1 = pd.read_excel("Literacy.xlsx")

In [12]:
df1

                  State/UT   1951   1961   1971   1981   1991   2001   2011
0              A&N islands   30.3  40.07  51.15  63.19  73.02  81.30  86.63
1           Andhra Pradesh      -  21.19  24.57  35.66  44.08  60.47  67.02
2        Arunachal Pradesh      -   7.13  11.29  25.55  41.59  54.34  65.38
3                    Assam  18.53  32.95  33.94      -  52.89  63.25  72.19
4                    Bihar  13.49  21.95  23.17  32.32  37.49  47.00  61.80
5               Chandigarh      -      -  70.43   74.8  77.81  81.94  86.05
6             Chhattisgarh   9.41  18.14  24.08  32.63  42.91  64.66  70.28
7   Dadra and Nagar Haveli      -      -  18.13   32.9  40.71  57.63  76.24
8            Daman and Diu      -      -      -      -   71.2  78.18  87.10
9                    Delhi      -  61.95  65.08  71.94  75.29  81.67  86.21
10                     Goa  23.48  35.41  51.96  65.71  75.51  82.01  88.70
11                 Gujarat  21.82  31.47  36.95  44.92  61.29  69.14  78.03
12                 Haryana      -      -  25.71  37.13  55.85  67.91  75.55
13        Himachal Pradesh      -      -      -      -  63.86  76.48  82.80
14       Jammu and Kashmir      -  12.95  21.71  30.64      -  55.52  67.16
15               Jharkhand  12.93  21.14  23.87  35.03  41.39  53.56  66.41
16               Karnataka      -   29.8  36.83  46.21  56.04  66.06  75.36
17                  Kerala  47.18  55.08  69.75  78.85  89.81  90.86  94.00
18             Lakshadweep  15.23  27.15  51.76  68.42  81.78  86.66  91.85
19          Madhya Pradesh  13.16  21.41  27.27  38.63  44.67  63.74  69.32
20             Maharashtra  27.91  35.08  45.77  57.24  64.87  76.84  82.34
21                 Manipur  12.57  36.04  38.47  49.66  59.89  70.50  76.94
22                Meghalya      -  26.92  29.49  42.05   49.1  62.56  74.43
23                 Mizoram  31.14  44.01   53.8  59.88  82.26  88.80  91.33
24                Nagaland  10.52  21.95  33.78  50.28  61.65  66.59  79.55
25                  Odisha   15.8  21.66  26.18  33.62  49.09  63.08  72.87
26              Puducherry      -  43.65  53.38  65.14  74.74  81.24  85.85
27                  Punjab      -      -  34.12  43.37  58.51  69.65  75.84
28               Rajasthan    8.5  18.12  22.57  30.11  38.55  60.41  66.11
29                  Sikkim      -      -  17.74  34.05  56.94  68.81  81.42
30              Tamil Nadu      -  36.39   45.4  54.39  62.66  73.45  80.33
31                 Tripura      -  20.24  30.98   50.1  60.44  73.19  87.22
32           Uttar Pradesh  12.02  20.87  23.99  32.65  40.71  56.27  67.68
33             Uttarakhand  18.93  18.05  33.26  46.06  57.75  71.62  78.82
34             West Bengal  24.61  34.46  38.86  48.65   57.7  68.64  76.26

# Q.3 Area of each state

Link -	https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area

In [13]:
df2 = pd.read_excel("area.xlsx")
df2

    Rank                    State /Union Territory  Area (km2)
0      1                                 Rajasthan      342239
1      2                            Madhya Pradesh      308252
2      3                               Maharashtra      307713
3      4                             Uttar Pradesh      240928
4      5                                   Gujarat      196024
5      6                                 Karnataka      191791
6      7                            Andhra Pradesh      162975
7      8                                    Odisha      155707
8      9                              Chhattisgarh      135192
9     10                                Tamil Nadu      130058
10    11                                 Telangana      112077
11    12                                     Bihar       94163
12    13                               West Bengal       88752
13    14                         Arunachal Pradesh       83743
14    15                                 Jharkhand       79716
15    16                                     Assam       78438
16    17                                    Ladakh       59146
17    18                          Himachal Pradesh       55673
18    19                               Uttarakhand       53483
19    20                                    Punjab       50362
20    21                                   Haryana       44212
21    22                         Jammu and Kashmir       42241
22    23                                    Kerala       38863
23    24                                 Meghalaya       22429
24    25                                   Manipur       22327
25    26                                   Mizoram       21081
26    27                                  Nagaland       16579
27    28                                   Tripura       10491
28    29               Andaman and Nicobar Islands        8249
29    30                                    Sikkim        7096
30    31                                       Goa        3702
31    32                                     Delhi        1484
32    33  Dadra and Nagar Haveli and Daman and Diu         603
33    34                                Puducherry         479
34    35                                Chandigarh         114
35    36                               Lakshadweep          32

# Q.4  Collect any other data that helps with your analysis. There is no limitation for anything.

Link -	https://en.wikipedia.org/wiki/Rape_in_India

# Rape Cases

In [14]:
df3 = pd.read_excel("Rapecases.xlsx")
df3

,State/UT,Total rape cases registered(2019),Adult (18 yrs & above),Minor (below 18 yrs),"2019 Rape rate(%)(per 1,00,000 pop.)",Annual change in Rape rate (2018–19),Annual change in absolute no. of rape cases registered (2018–19)
0,Andhra Pradesh,1086,542,544,4.2,0.5,115
1,Arunachal Pradesh,63,39,24,8.6,-0.7,-4
2,Assam,1773,1685,88,10.5,0.6,125
3,Bihar,730,729,1,1.3,0.2,79
4,Chhattisgarh,1036,1033,3,7.2,-7.5,-1055
5,Goa,72,23,49,9.4,1.4,11
6,Gujarat,528,528,0,1.6,-0.1,-25
7,Haryana,1480,1472,8,10.9,1.2,184
8,Himachal Pradesh,359,162,197,10.0,0.4,15
9,Jammu and Kashmir,223,212,11,3.5,-1.5,-97
10,Jharkhand,1416,1228,188,7.7,1.7,326
11,Karnataka,505,505,0,1.6,0.1,13
12,Kerala,2023,761,1262,11.1,0.4,78
13,Madhya Pradesh,2485,2485,0,6.2,-7.6,-2948
14,Maharashtra,2299,2299,0,3.9,0.2,157
15,Manipur,36,26,10,2.3,-1.1,-16
16,Meghalaya,102,82,20,6.3,0.8,15
17,Mizoram,42,19,23,7.1,-1.4,-8
18,Nagaland,8,6,2,0.8,-0.2,-2
19,Odisha,1382,1151,231,6.2,0.1,464
20,Punjab,1002,576,426,7.1,1.2,171
21,Rajasthan,5997,4684,1313,15.9,4.2,1662
22,Sikkim,11,11,0,3.5,-1.6,-5
23,Tamil Nadu,362,353,9,1.0,0.1,31
24,Telangana,606,606,0,4.7,1.4,267
25,Tripura,88,88,0,4.5,-0.5,-9
26,Uttar Pradesh,3065,2895,270,2.8,-0.9,-881
27,Uttarakhand,526,342,184,9.6,-0.8,-35
28,West Bengal,1069,1065,4,2.3,0.0,0
29,Andaman and Nicobar Islands,13,5,8,7.0,-9.1,-17
30,Chandigarh,112,47,65,20.7,4.6,26
31,Dadra and Nagar Haveli,0,0,0,0.0,-3.2,-7
32,Daman and Diu,4,4,0,3.1,0.7,1
33,Delhi,1253,1253,0,13.5,0.2,38
34,Lakshadweep,0,0,0,0.0,-6.1,-2
35,Puducherry,10,10,0,1.3,1.3,10